@model BookMania.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="container">
    <h4>Book</h4>

    <div class="row">
        <div class="col-md-2">
            <strong>@Html.DisplayNameFor(model => model.Title)</strong>
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Title)
        </div>

        <div class="col-md-2">
            <strong>@Html.DisplayNameFor(model => model.Author_Name)</strong>
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Author_Name)
        </div>

        <div class="col-md-2">
            <strong>@Html.DisplayNameFor(model => model.Type)</strong>
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Type)
        </div>

        <div class="col-md-2">
            <strong>@Html.DisplayNameFor(model => model.Genre)</strong>
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Genre)
        </div>

        <div class="col-md-2">
            <strong>@Html.DisplayNameFor(model => model.Price)</strong>
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Price)
        </div>

        <div class="col-md-2">
            <strong>@Html.DisplayNameFor(model => model.Rating)</strong>
        </div>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Rating)
        </div>

        <div class="col-md-2">
            <strong>Cover Image</strong>
        </div>
        <div class="col-md-10">
            @if (Model.Type == "Novel")
            {
                <img src="~/uploads/bookcover.jpeg" alt="Book Cover" height="200" width="150">
            }
            else if (Model.Type == "Comics")
            {
                <img src="~/uploads/comiccover.jpg" alt="Book Cover" height="200" width="150">
            }
            else if (Model.Type == "Educational")
            {
                <img src="~/uploads/educational.jpg" alt="Book Cover" height="200" width="150">
            }
            else if (Model.Type == "Historical")
            {
                <img src="uploads/historical.jpg" alt="Book Cover" height="200" width="150">
            }
            else if (Model.Type == "Scientific")
            {
                <img src="uploads/scientific.jpg" alt="Book Cover" height="200" width="150">
            }
            else if (Model.Type == "Geography")
            {
                <img src="uploads/geography.jpg" alt="Book Cover" height="200" width="150">
            }
            else if (Model.Type == "Autobiography")
            {
                <img src="uploads/autobiography.jpg" alt="Book Cover" height="200" width="150">
            }
            else if (Model.Type == "Documentational")
            {
                <img src="uploads/documentational.jpg" alt="Book Cover" height="200" width="150">
            }
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model?.Id">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>

        

@* <figure>
    @if (@item.Type == "Novel")
    {
        <img src="uploads/bookcover.jpeg" alt="Book Cover" style="height: 200px; object-fit: cover;">
    }
    else if (item.Type == "Comics")
    {
        <img src="uploads/comiccover.jpg" alt="Book Cover" style="height: 200px; object-fit: cover;">
    }
    else if (item.Type == "Educational")
    {
        <img src="uploads/educational.jpg" alt="Book Cover" style="height: 200px; object-fit: cover;" />
    }
    else if (item.Type == "Historical")
    {
        <img src="uploads/historical.jpg" alt="Book Cover" style="height: 200px; object-fit: cover;" />
    }
</figure> *@
