@model IEnumerable<BookMania.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
@foreach (var item in Model)
{
    <div class="col-lg-4 col-md-4 col-sm-6">
            <a asp-action="Details" asp-route-id="@item.Id" style="color: black;">
            <figure>
                @if (item.Type == "Novel")
                {
                    <img src="uploads/bookcover.jpeg" width="250" height="290">
                }
                else
                {
                    <img src="uploads/comiccover.jpg" width="250" height="290">
                }
            </figure>
            <div>
                <h2>
                   @Html.DisplayFor(modelItem => item.Title)
                </h2>
                <p>@Html.DisplayFor(modelItem => item.Author_Name)
                        @Html.DisplayFor(modelItem => item.Price)$
                        @Html.DisplayFor(modelItem => item.Rating)/10
                </p>
                @* <p>@Html.DisplayFor(modelItem => item.Type)</p>*@
                @*  <p>@Html.DisplayFor(modelItem => item.Genre)</p> *@


            </div>
        </a>
    </div>
}
    </div>
